body {
    margin: 0;
    background: #1a262f;
    padding: 1.25rem 0;
    height: 100vh;
}

section {
    margin: 0 auto;
    height: 100%;
    max-height: 57.5rem;
    width: 60%;
    max-width: 90rem;
}

.slider {
    margin: 0 auto;
    height: 100%;
    max-height: 60rem;
    width: 80%;
    overflow: hidden;
    /* height: 400px;
    max-height: 24rem;
    width: 700px;
    overflow: hidden; */
}
/* .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.navigation {
    display: flex;
}

.bar {
    width: 20px;
    height: 20px;
    border: 2px solid #2c8de1;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.item-container {
    display: flex;
    width: 500%;
    height: 80%;
}

.item {
    height: 100%;
    width: 20%;
    transition: 0.5s ease;
}

.item img {
    width: 100%;
    height: 100%;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.project-names {
    width: 60%;
    overflow: hidden;
}

.project-name {
    display: flex;
    width: 500%;
    height: 100%;
}

.text {
    color: #2c8de1;
    padding-top: 0.625rem;
    font-size: 2rem;
    height: 100%;
    width: 20%;
    transition: 0.5s ease;
}

#r1:checked ~ .item-container .i1{
    margin-left: 0;
}

#r2:checked ~ .item-container .i1 {
    margin-left: -20%;
}

#r3:checked ~ .item-container .i1 {
    margin-left: -40%;
}

#r4:checked ~ .item-container .i1 {
    margin-left: -60%;
}

#r5:checked ~ .item-container .i1 {
    margin-left: -80%;
}

@media (max-width: 1300px) {
    .item-container {
        height: 70%;
    }
}

@media (max-width: 1300px) {
    section {
        padding: 3%;
    }
}


/* .dots {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    color: #2c8de1;
    border: 3px solid;
} */



/* .to-left {
    animation-name: left;
}
.to-right {
    animation-name: right;
    animation-direction: reverse ;
}
.from-left {
    animation-name: left;
    animation-direction: reverse ;
}
.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}
@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0 ;
    }
} */