body {
    margin: 0;
    background: #1a262f;
    padding: 1.25rem 0;
    height: 100vh;
}

section {
    margin: 0 auto;
    height: 100%;
    max-height: 57.5rem;
    width: 60%;
    max-width: 90rem;
}

.slider {
    margin: 0 auto;
    height: 100%;
    max-height: 60rem;
    width: 80%;
    overflow: hidden;
}

.navigation {
    display: flex;
}

.bar {
    width: 20px;
    height: 20px;
    border: 2px solid #2c8de1;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

.bar:active {
    background: #2c8de1;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.item-container {
    display: flex;
    width: 500%;
    height: 80%;
}

.item {
    height: 100%;
    width: 20%;
    transition: 0.5s ease;
}

.item img {
    width: 100%;
    height: 100%;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-names {
    width: 60%;
    overflow: hidden;
}

.project-name {
    width: 500%;
    height: 100%;
}

.text {
    color: #2c8de1;
    padding-top: 0.625rem;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
}

.text-slider {
    display: flex;
    width: 500%;
    height: 100%;
}

#r1:checked ~ .item-container .i1, .project-name .active-name {
    margin-left: 0;
}

#r2:checked ~ .item-container .i1 , .project-name .active-name {
    margin-left: -20%;
}

#r3:checked ~ .item-container .i1 , .project-name .active-name {
    margin-left: -40%;
}

#r4:checked ~ .item-container .i1 , .project-name .active-name {
    margin-left: -60%;
}

#r5:checked ~ .item-container .i1 , .project-name .active-name {
    margin-left: -80%;
}

#r1:checked ~ .controls .navigation .bar:first-child {
    background-color: #fff;
}

#r1:checked ~ .controls .project-names .text-slider .project-name .text:first-child {
    margin-left: 0;
}

#r2:checked ~ .controls .project-names .text-slider .project-name .text:first-child {
    margin-left: -100%;
}

#r3:checked ~ .controls .project-names .text-slider .project-name .text:first-child {
    margin-left: -200%;
}

#r4:checked ~ .controls .project-names .text-slider .project-name .text:first-child {
    margin-left: -300%;
}

#r5:checked ~ .controls .project-names .text-slider .project-name .text:first-child {
    margin-left: -400%;
}

#r1:checked ~ .controls .navigation .bar:first-child {
    background-color: #fff;
}
#r2:checked ~ .controls .navigation .bar:nth-of-type(2) {
    background-color: #fff;
}
#r3:checked ~ .controls .navigation .bar:nth-of-type(3) {
    background-color: #fff;
}
#r4:checked ~ .controls .navigation .bar:nth-of-type(4) {
    background-color: #fff;
}
#r5:checked ~ .controls .navigation .bar:nth-of-type(5) {
    background-color: #fff;
}

@media (max-width: 1300px) {
    .item-container {
        height: 70%;
    }
    section {
        padding: 3%;
    }
    .controls {
        flex-direction: column-reverse;
    }
}
